version: "3"
services:
  sonarqube:
    image: sonarqube:lts
    ports:
      - 9000:9000
    networks:
      - mynetwork
    environment:
      - SONAR_FORCEAUTHENTICATION=false
  jenkins:
    image: jenkins/jenkins:2.319.1-jdk11
    ports:
      - 8080:8080
    networks:
      - mynetwork
  nexus:
    image: sonatype/nexus3
    ports:
    - 8081:8081
    - 8083:8083
    - 8085:8085
    networks:
      - mynetwork
networks:
  mynetwork:
